* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish';


}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:ital,wght@0,400;0,700;1,900&family=Rubik:wght@300;400;500&display=swap');
