
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/495\ 1.jpg");
  width: 100vw;
  height: 100vh;
background-size: 100%;


}


.image{
  mix-blend-mode: darken;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
width: 132px;
margin-bottom: 25px;
}


.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
 
  background-color: #FFFFFF;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  position: relative;
  padding: 37px 57px 37px 57px;
}




.loginSubTitle {
 
  font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 20px;
margin-bottom: 15px;
color: #000000;
}

.loginDetails {
  font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
color: #000000;
margin-bottom: 65px;
}

.formContain {
  

  display: flex;
  flex-direction: column;

}

label {
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 40px;
margin-bottom: 8px;


color: #000000;

}

input {
  margin-bottom: 24px;
  width: 356px;
  height: 42px;
  background: #FCFDFE;
  padding: 28px 32px 28px 35px;

  border: 1px solid #F0F1F7;
  border-radius: 8px;


}

input::placeholder {

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.3px;


  color: #4B506D;

  opacity: 0.5;

}




.ll {
  background: #67C4A7;
  border-radius: 10px;

  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
  
  border: none;
  height: 48px;
  width: 356px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  margin-top: 20px;
 margin-right: 24px;



}

.r{
  display: flex;
  align-items: center;
  
  
}
