.sidebar{
    width: 342px;
    border-right: 1px solid grey;
    padding: 71px 21px 0 43px; 
    height: 100vh;
}

.PageItem{
    display: flex;
    align-items: center;
    gap: 20px;


}
.PageItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px ;
    border-radius: 24px 0 0 24px;
    
    
}
.sidebar > p {
    margin-bottom: 15px;
    margin-left: 10px;
}
.PageItems:hover{
    background-color: rgb(0, 0, 0,0.1);

    

}
.PageItem > p{
color: black;
}
.ll{
    text-decoration: none;
}